<!DOCTYPE html>
<html>
    <head>
        <title>Birthday</title>
        <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div class="container">
        <h1>Happy Birthday <%= @name %>!</h1>
    </div>
    </body>
</html>